@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$mainColor: #19323c;
$secondaryColor: #5f021f;
$highlightColor: #f2545b;


*{
    margin: 0;
    padding: 0;
    inset: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}

h2{
    color: $highlightColor;
    text-shadow: 2px 2px black;
    font-size: 4vw;
    padding-bottom: 3%;
    
}


#About{
    background-color: $mainColor;
    margin: 0 auto;

    #AboutTxt{
        padding-left: 220px;
    }

    .flex-box{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        text-align: left;
    }
    
    #flex-rvs{
        flex-direction: row-reverse;
        text-align: right;
    }
    .AboutImg{
        width: 30vw;
    }

    .flex-box p{
        width: 40vw;
        padding: 0px 20px;
    }
}



#Faciliteter{
    background-color: $mainColor;

    #fac-flex{
        display: flex;
        justify-content: center;

        .fac{
            display: flex;
            padding: 0px 80px;


            .fac-img{
                border-radius: 50%;
                width: 10vw;
                height: 10vw;
                padding-bottom: 10px;
            }


            #face-txt p{
                text-align: center;
                padding-bottom: 30px;
            }
            
            #fac-txt h3{
                text-align: center;
                padding-bottom: 15px;
            }

            .AboutBtn{
                padding: 5px 10px;
                margin-left: 35px;

                &:active{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    
    #txt-fac{
        text-align: center;
        margin-bottom: 50px;
    }
    
    #txt-fac h2{
        font-size: 48px;
        margin-bottom: 25px;
        padding-top: 75px;
    }
}

