#Main-background #top-text {
  text-align: center;
  padding-top: 50px;
}

#Main-background #top-text h2 {
  font-size: 48px;
  padding-bottom: 20px;
}

#Main-background #top-text p {
  padding-bottom: 30px;
}

#Main-background .Movie {
  max-width: 1081px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#Main-background .Movie a {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 1px solid black;
}

#Main-background .Movie p {
  color: white;
}

#Main-background .hidden-msg {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

#Main-background .flex-Movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid #cfcfcf;
}

#Main-background .btn:active {
  background-color: black;
  color: white;
}

#Main-background .hidden-msg.active {
  display: block;
}

#Payment {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#Payment h2 {
  font-size: 3vw;
  text-align: center;
}

#Payment figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 70vw;
  margin: 0 auto;
  padding-top: 100px;
  gap: 100px;
}

#Payment form {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 9fr 19;
      grid-template-columns: 1fr 9fr 19;
      grid-template-areas: "Navn Navn Navn" "Tlf Krtnr Krtnr" "Email CVV Date" "MainBtn MainBtn MainBtn";
  grid-gap: 5px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

#Payment .Navn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Navn;
}

#Payment .Navn #name {
  width: 33.1vw;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}

#Payment .Tlf {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Tlf;
}

#Payment .Tlf #Telfnumber {
  width: 12vw;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}

#Payment .Krtnr {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: Krtnr;
}

#Payment .Krtnr #Kortnumber {
  width: 20.7vw;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}

#Payment .Email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Email;
}

#Payment .Email #email {
  width: 12vw;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}

#Payment .CVV {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: CVV;
}

#Payment .CVV #CVVnumber {
  width: 5.5vw;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}

#Payment .Date {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Date;
}

#Payment .Date #dato {
  width: 14.7vw;
  margin-bottom: 90px;
  padding: 10px 20px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}

#Payment .MainBtn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: MainBtn;
}

#Payment .MainBtn #SndBtn {
  width: 33.1vw;
  padding: 10px 20px;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  cursor: pointer;
}

#Payment #FlmImg {
  height: 43vh;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.8);
}
/*# sourceMappingURL=bestilBillet.css.map */