// tilmeld
#signUpSection{
    h2{
        padding-bottom: 3%;
    }
}
//form 1
#signForm{
    display: grid;
    grid-template-columns: auto auto;
    #signUpForm{
        width: 80%;
        input{
            padding-right: 50px;
            width: 100%;
            padding: 10px 0 10px;
            font-size: 1.3vw;
        }
        div{
            padding-bottom: 2%;
        }
        #gridForm{
            display: grid;
            grid-template-columns: auto auto; 
            gap: 2%;
        }
        textarea{
            width: 100%;
            padding: 10px 0 50px;
            font-size: 1.3vw;
        }
        ::placeholder{
            font-size: 1.3vw;
            color: black;
        }
        #signupbtn{
            width: 50%;
            margin-left: 25%;
        }
        p{
            margin-top: 1%;
            text-align: center;
        }
    }
    .button-main{
        padding: 10px 0 10px;
        button[type="submit"]{
            background-color: #ccc;
            font-size: 1.3vw;
            cursor: pointer;
            width: 10%;
            margin-right: 1%;
            padding: 1%;
        }
    }
//form 2
    //toggle switch
    label{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .switch {
        position: relative;
        display: block;
        width: 60px;
        height: 33px;
        display: grid;
        input { 
            opacity: 0;
        }
        .slider.round {
            border-radius: 34px;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 3px;
                background-color: white;
                transition: .4s;
                border-radius: 50%;
            }
        }
        input:checked + .slider {
            background-color: #2196F3;
        } 
        input:checked + .slider:before {
            transform: translateX(26px);
        }
    }
    .switchText{
        margin-top: -7%;
        margin-left: 12%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}